body {
    margin: 10px auto;
    padding: 0 20px;
}

#results, #scores {
    border: 2px solid black;
    padding: 10px 20px;
    margin: 20px 10px;
    width: 300px;
}

.winner {
    color: red;
    font-size: 30px;
}